<div class="section" id="about">
    <div class="container">
      <div class="card" data-aos="fade-up" data-aos-offset="10">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">About</div>
              <p>Hi I'm <strong>Ziyaad Adams</strong>  . I am a certified software engineer who has expertise in Angular10 , PHP , Python, Java and front end development. I am in the process
              of completing my Bachelor's Degree in IT management. I specialise in the creation and implementation of a java application whether that be web apps, desktop app or mobile apps</p>


              <p>
                A passionate individual towards innovation and everything related to generate new knowledge and to overcome new challenges. I always approach my creations in a logic fashion to complete it as quickly as possible.
              </p> 
                
          
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">Basic Information</div>
              <div class="row">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Date of Birth:</strong>
                </div>
                <div class="col-sm-8">29 August, 1996</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Email:</strong>
                </div>
                <div class="col-sm-8">ziyaada22@gmail.com</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Phone:</strong>
                </div>
                <div class="col-sm-8">+27 606 500 997</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Address:</strong>
                </div>
                <div class="col-sm-8">Glenook Avenue, Wetton, Cape Town, Western Cape, South Africa</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Language:</strong>
                </div>
                <div class="col-sm-8">English & Afrikaans</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>