<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Education</div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2019 - Present</p>
              <div class="h5">Bachelor's Degree</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Bachelor's Degree in IT Management</div>
               <h4 class="category">MANCOSA - Part Time
               </h4>
               <ul>
                 <li>2nd Year ITM student who studies part time basis </li>
                 <li>Majors - Informatics</li>
                 
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2019 - 2020</p>
              <div class="h5">Certificate</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Software Engieering</div>
               <h4 class="category">Hyperion Development
               </h4>
               <ul>
                <li>
                  Finished my course with 97% Aggregate
                                  </li>
                                  <li>
                                     Object Orientated & Data Science  programming.
                                  </li>
                                  <li>
                                      Python, Java, MySQL
                                  </li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2014</p>
              <div class="h5">High School</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Matric Bachelor's Pass</div>
               <h4 class="category">Abbott's College Claremont
               </h4>
               <ul>
                <li>Subjects: Mathematics, English, Afrikaans, Business Studies, CAT, Life Orientation, Biology
                </li>
               
             </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>