<div class="section" id="projects">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Projects</div>
            
     <div class="row">
    
    
       <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" >
        <img class="card-img-top" src="assets/images/p11.PNG" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Personal Portfolio Using Angular8</h4>
          <h5 class="card-text"><b>Technology :</b> Angular8,Bootstrap3 </h5>
                     
          <a href="https://ziyaadadmas.github.io/" class="btn btn-primary stretched-link ml-2 mr-5">Visit Site</a>
          <a href="https://github.com/ziyaadadams/ziyaadadmas.github.io" class="btn btn-primary stretched-link">Github Link</a>
        
        </div>
      </div>
    </div>
    </div>
    
    <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top"src="assets/images/p2.png" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Website Project</h4>
           <h5 class="card-text"><b>Technology :</b>HTML5, CSS3</h5>

          <a href="https://ziyaadadams.github.io/" class="btn btn-primary  stretched-link ml-2 mr-5 ">Visit Site</a>
          <a href="https://github.com/ziyaadadams/ziyaadadams.github.io" class="btn btn-primary stretched-link">Github Link</a>
        </div>
    </div>
    </div>
      </div>
    
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" >
        <img class="card-img-top" src="assets/images/p44.png" alt="Card image" style="width:60%">
        <div class="card-body">
          <h4 class="card-title">Flappy Bird Java Remake</h4>
          <h5 class="card-text"><b>Technology :</b> Java </h5>
            
        <a href="https://medium.com/@mehulkothari05/matrimonial-website-9cd5247f477d" class="btn btn-primary stretched-link ml-2 mr-5">See Project</a>
         </div>
      </div>
    </div>
    </div>
    
    
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top" src="assets/images/p3.png" alt="Card image" style="width:100%">
        <div class="card-body">
         <h4 class="card-title">Project Manager</h4>
           <h5 class="card-text"><b>Technology :</b> HTML5, CSS3, Java </h5>
           
        
          <a href="https://github.com/ziyaadadams/Project-manager" class="btn btn-primary stretched-link">Github Link</a>
        </div>
    </div>
    </div>
      </div>
    
       
    <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top" src="assets/images/p5.jpeg" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Text To Speech</h4>
           <h5 class="card-text"><b>Technology :</b> Python, python API </h5>
             
          <a href="https://github.com/ziyaadadams/Text-To-Speech" class="btn btn-primary stretched-link">GithubLink</a>
        </div>
        </div>
        </div>
      </div>
    
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
           <div class="card" >
        <img class="card-img-top" src="assets/images/p6.png" alt="Card image" style="width:100%">
        <div class="card-body">
         <h4 class="card-title">Android Messenger Application Using Firebase</h4>
           <h5 class="card-text"><b>Technology :</b> Android,Java,Firebase </h5>
             <h5 class="card-text"><a href=""> Currently Busy</a></h5>

        </div>
        </div>
        </div>
        </div>
    
      
    
    
    </div>
    </div>
  </div>